:root {
  height: 100%;
  padding: 35px;
}

body {
  background-image: url(../assets/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  color: white;
}

h1 {
  color: yellow;
}
